.skillsFilter-container {
  background-color: #2b5876;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.filter-selection {
  font-size: 15px;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 9vw;
  text-align: center;
  border: none;
}
