.user-card-container {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;

  background: linear-gradient(to bottom, #2b5876, #4e4376);

  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

h1 {
  background-color: #2b5876;
  text-align: center;
  font-size: 60px;
}

.filter-container {
  background-color: #2b5876;
  display: flex;
  justify-content: center;
}

.home-footer {
  background-color: aquamarine;
  height: 3em;
  text-align: center;
}

.home-footer > p a {
  font-size: 25px; 
}