@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker');

.nav-container {
  width: 100%;
  height: fit-content;

  font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 2rem;
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-card-container {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;

  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
