.repo-icon {
    height: 5rem;
    width: 6rem;
    padding: 1rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2rem;
    padding: 4rem;
    grid-column: 1 / 3;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
}

#repo-title {
    color: #224b3d;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    word-wrap: break-word;
    max-width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: beige;
    font-size: 3rem;
}