.container {
  text-align: center;
  background-color: #5b8e7d;
  padding-bottom: 1rem;

  display: grid;
  grid-template-columns: 1fr;
}

#title {
  color: beige;
  font-size: 4rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.profile-pic {
  height: 13rem;
}

header {
  background-image: url("../../assets/background.png");
  padding: 2rem;
  grid-column: 1 / 3;
}

section {
  grid-column: 2;
}

.buttons {
  height: 6.5rem;
  margin: 1rem;
  border-radius: 2rem;
  background-color: #8cb369;

  /* Button title styling */
  font-size: 2rem;
  color: #243831;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 1rem 15rem;
  font-weight: bold;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.buttons:hover {
  background-color: #b6cfa0;
}
