.link-container {
  width: 20rem;
  height: 28rem;
  padding: 0rem 0.5rem;

  overflow: hidden;
  background: url(./../../../assets/swirl-background.jpg);
  background-size: 20rem;
  border: solid #00025f 1rem;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.link {
  height: 4rem;
  padding: 0 4rem;

  border-radius: 1rem;
  background-color: #00025f;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;

  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
