* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --color-dark: #222831;
  --color-dark-alt: #393e46;
  --color-accent: #f1fa8c;
  --color-light: ivory;
}

.text-page-container {
  width: 100%;
  min-height: 100vh;

  background-color: var(--color-dark-alt);

  display: flex;
  align-items: center;
  flex-direction: column;
}